*{
    font-family: "Agency FB";

}
#input{
    margin-top: 2px;
    height:25px;
}
#typeofmoney{
    margin-top: 2px;
    margin-left: 5px;
}
.type{
    background-color: rgb(211, 211, 211);
    height:30px;
    width:250px;
    padding-left: 15px;
    padding-top: 1px;
}
.type h5{
    margin-top: 5px;
}



